/workshops/FP02_controlStatements/nbproject/private/
/workshops/FP02_controlStatements/build/
/workshops/Basic Operation/nbproject/private/
/workshops/UNIT 1/WS03operators/BasicOperations/nbproject/private/
/workshops/UNIT 1/WS03operators/BasicOperations/build/
/workshops/WS03operators/BasicOperations/build/
/workshops/WS03operators/BasicOperations/nbproject/private/
/workshops/UNIT 1/WS04LogicalOperators/ClientEditor/nbproject/private/
/workshops/UNIT 1/WS04LogicalOperators/ClientEditor/build/
/workshops/UNIT 1/WS04LogicalOperators/LogicalOperators/nbproject/private/
/workshops/UNIT 1/WS04LogicalOperators/LogicalOperators/build/