/workshops/FP02_controlStatements/nbproject/private/
/workshops/FP02_controlStatements/build/
/workshops/Basic Operation/nbproject/private/
/workshops/UNIT 1/WS03operators/BasicOperations/nbproject/private/
/workshops/UNIT 1/WS03operators/BasicOperations/build/
/workshops/WS03operators/BasicOperations/build/
/workshops/WS03operators/BasicOperations/nbproject/private/
/workshops/UNIT 1/WS04LogicalOperators/ClientEditor/nbproject/private/
/workshops/UNIT 1/WS04LogicalOperators/ClientEditor/build/
/workshops/UNIT 1/WS04LogicalOperators/LogicalOperators/nbproject/private/
/workshops/UNIT 1/WS04LogicalOperators/LogicalOperators/build/
/workshops/UNIT 1/WS05Iterations/WS05Iterations/nbproject/private/
/workshops/UNIT 1/WS05Iterations/WS05Iterations/build/
/workshops/UNIT 1/WS05Iterations/HW04Iterations/nbproject/private/
/workshops/UNIT 1/WS05Iterations/HW04Iterations/build/
/assignments/unit1/HW03Iterations/HW03Iterations/nbproject/private/
/assignments/unit1/HW02DataTypesAndOperators/build/
/assignments/unit1/HW02DataTypesAndOperators/nbproject/private/
/assignments/unit1/HW03Iterations/HW03Iterations/build/
/workshops/UNIT 1/WS07Menus/WS07Menus/nbproject/private/
/workshops/UNIT 1/WS07Menus/WS07Menus/build/
/assignments/unit1/HW04Bases/HW04Bases/nbproject/private/
/assignments/unit1/HW04Menus/HW04Menus/nbproject/private/
/assignments/unit1/HW04Menus/HW04Menus/build/
/Exam/ExamUnit1/nbproject/private/
/Exam/ExamUnit1/build/
/Exam/ExamUnit1/dist/
/workshops/UNIT2/WS08-debbuging/WS08-debbuging/nbproject/private/
/workshops/UNIT2/WS08-debbuging/WS08-debbuging/build/
/assignments/UNIT2/FactorialNumber/nbproject/private/
/assignments/UNIT2/FactorialNumber/build/
/assignments/UNIT2/FactorialNumber/dist/
/assignments/UNIT2/JavaApplication16/nbproject/private/
/assignments/UNIT2/JavaApplication17/nbproject/private/
/assignments/UNIT2/EmbeddedStructures/JavaApplication19/nbproject/private/
/assignments/UNIT2/EmbeddedStructures/EmbeddedStructures/nbproject/private/
/assignments/UNIT2/EmbeddedStructures/EmbeddedStructures/build/
/workshops/UNIT2/WS10Functions/nbproject/private/
/workshops/UNIT2/WS10Functions/build/
/assignments/UNIT2/HW10Functions/nbproject/private/
/assignments/UNIT2/HW11-Recursion/nbproject/private/
/assignments/UNIT2/HW11-Recursion/build/
/assignments/UNIT2/HW12-MetodGeoconverter/nbproject/private/
/assignments/UNIT2/HW12-MetodGeoconverter/build/
/assignments/UNIT2/WS12-LIBRARIES/nbproject/private/
/workshops/UNIT2/WS12-Libraries/nbproject/private/
/workshops/UNIT2/WS12-Libraries/build/
/assignments/UNIT2/HW12-Taxes/nbproject/private/
/assignments/UNIT2/HW12-Taxes/build/
/workshops/UNIT2/WS13-Task/nbproject/private/
/workshops/UNIT2/WS13-Task/build/